---
rdf_prefix_path: "_data/prefixes.sparql"
layout: page
---

<h1>{{ page.rdf | rdf_property: "dbo:year" }}</h1>
{{ page.rdf }}

<dl>
    <dt class="red">Location:</dt>
    {% assign location = page.rdf | rdf_property: "dbo:location" %}
    <dd><a href="{{ location.page_url | relative_url }}">{{ location | rdf_property: "rdfs:label" }}</a></dd>
</dl>

{% capture query %}
SELECT ?athlete
    WHERE {
        ?instance ex:athlete ?athlete;
                  ex:medal ?medal;
                  ex:games ?games;
                  ex:event ?event .

        ?athlete foaf:name ?athleteLabel .

        ?medal rdfs:label ?medalLabel .

        ?games dbo:location ?city ;
        ex:season ?season;
        dbo:year ?year .

        ?city rdfs:label ?cityName .

        ?season rdfs:label ?seasonName .

        FILTER(?year = {{ page.rdf | rdf_property: "dbo:year" }}).

    }
    ORDER BY ASC(?athleteLabel)
{% endcapture %}
{% assign resultset = page.rdf | sparql_query: query %}

{% for result in resultset %}
{{ result.athlete }}
<div class="posts">
    <div>
        <h3 class="post-link">
          <a href="{{ result.athlete.page_url }}">{{ result.athlete | rdf_property: "foaf:name" }}</a>
        </h3>
    </div>
</div>
{% endfor %}
